.escondido {
    display: none;
}
.visible {
    display:block;
}

.menu:after {
    clear: both;
    display: block;
    content: "";
}
.list-group .identificarse{
    padding:0px;
    margin: 0px;
}
.list-group-item {
    float: left;
}
.identificarse{
    float: right;
}
.mensaje{
    border: 2px solid darkgreen;
    background-color: lightgreen;
    color: darkgreen;
    padding-left: 8px;
    margin-top: 8px;
    padding-top: 6px;
}
.mensajeError{
    border: 2px solid darkred;
    background-color: burlywood;
    color: darkred;
    padding-left: 8px;
    margin-top: 8px;
    padding-top: 6px;
}
.centro{
    float:right;
    position:relative;
    left:-50%;
    text-align:left;
}
.centro ul{
    list-style:none;
    position:relative;
    left:50%;
}

.centro li{
    float:left;
    position:relative;
}
.link{
    cursor:pointer;
}


